# Packages
node_modules/
cache
out
*/node_modules/

# Compilation
main_js/
main.r1cs

# Witness Generation
witness.wtns

# Trusted setup
pot24_final.ptau
powersOfTau28_hez_final_25.ptau
blockheader_0000.zkey
blockheader_0001.zkey
verification_key.json

# Proofs
proof.json
public.json

# Random
.DS_Store
.vscode/
.env
build
